{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block body %}
  <form id="formInsert" class='card w-50' style='margin: auto;' method='post'>
    <div class='card-body'>
      <div class='card-header'>
        <h3>{% block title %}Home{% endblock %}</h3>
      </div>
      <div class='form-group'>
        <label for='txtFName'>First Name:</label>
        <input id='txtFName'
               class='form-control'
               name='fname'
               type='text'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid First Name: 1 to 32 characters in length'
               placeholder='First Name'
               required/>
      </div>
      <div class='form-group'>
        <label for='txtMinit'>Middle Initial:</label>
        <input id='txtMinit'
               class='form-control'
               name='minit'
               type='text'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid Last Name: 1 character only.'
               placeholder='Middle Initial'/>
      </div>
      <div class='form-group'>
        <label for='txtLName'>Last Name:</label>
        <input id='txtLName'
               class='form-control'
               name='lname'
               type='text'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid Last Name: 1 to 32 characters in length'
               placeholder="Last Name"
               required/>
      </div>
      <div class='form-group'>
        <label for='selSex'>Sex:</label>
        <select
            id='selSex'
            class='form-control'
            name='sex'
            data-toggle='tooltip'
            data-placement='top'
            title='Valid Sex: M or F'
            required>
          <option value='M'>M</option>
          <option value='F'>F</option>
        </select>
      </div>
      <div class='form-group'>
        <label for='dateBDate'>Birthday:</label>
        <input id='dateBDate'
               class='form-control'
               name='bdate'
               type='date'
               required/>
      </div>
      <div class='form-group'>
        <label for='txtAddress'>Address:</label>
        <input id='txtAddress'
               class='form-control'
               name='address'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid Address: From 3 to 32 characters long.'
               type='text'
               placeholder="Address"
               required/>
      </div>
      <div class='form-group'>
        <label for='txtSalary'>Salary:</label>
        <input id='txtSalary'
               class='form-control'
               name='salary'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid Salary: 0 < salary <= 300000'
               type='number'
               min='1'
               required/>
      </div>
      <div class='form-group'>
        <label for='txtSSN'>Social Security Number:</label>
        <input id='txtSSN'
               class='form-control'
               name='ssn'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid SSN: XXXXXXXXXX'
               type='password'
               placeholder="Social Security Number"
               required/>
      </div>
      <div class='form-group'>
        <label for='txtSuperSSN'>Supervisor Social Security Number:</label>
        <input id='txtSuperSSN'
               class='form-control'
               name='super_ssn'
               data-toggle='tooltip'
               data-placement='top'
               title='Valid SSN: XXXXXXXXXX'
               placeholder="Supervisor Social Security Number"
               type='password'/>
      </div>
      <div class='form-group'>
        <label for='txtDNumber'>Department Number:</label>
        <input id='txtDNumber'
               class='form-control'
               name='dno'
               text='number'
               required/>
      </div>
    </div>
    <div class='card-footer'>
      <div class='container'>
        <div class='row'>
          <div class='col-2'></div>
          <div class='text-center col-8'>
            <input id='btnSubmit'
                   class='btn btn-primary form-control w-75'
                   type='button'
                   onclick="validateAndSubmit();"
                   value='Submit'/>
          </div>
          <div class='col-2'></div>
        </div>
        <div class='row'>
          <div class='col-12 text-center'>
          <h5 id='lblError' class='text-danger font-weight-bold'></h5>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}

{% block footer %}
  <script>
    const regex_ssn = "/^([1-9])([0-9]{2})([1-9])([0-9])([1-9])([0-9]{3})$/gm";
    const regex_dno = "/^([0-9]+)$/gm";
    // exists for posterity, it is unused since the database stores the
    //  salary as an integer and not a float
    const regex_salary = "/^([0-9]+)(\.)([0-9]{2})$/gm";
    const regex_minit = "/^[A-Z]$/gm";
    const regex_name = "/^([A-Z])([a-z]{31})$/";

    function validateAndSubmit() {
      // reset the error label on the form
      $("#lblError").text("");

      // get the data from the from
      const fname = $("#txtFName").val();
      const minit = $("#txtMinit").val();
      const lname = $("#txtLName").val();
      const sex = $("#selSex option:selected").val();
      const bdate = $("#dateBDate").val();
      const address = $("#txtAddress").val();
      const salary = $("#txtSalary").val();
      const ssn = $("#txtSSN").val();
      const super_ssn = $("#txtSuperSSN").val();
      const dno = $("#txtDNumber").val();

      let error = null;

      // perform validation on the input data
      if (fname.length == 0 ||
          fname.length > 32 ||
          !fname.matches(regex_name)) {
        error = "First name must be 1 - 32 characters long!";
      } else if (minit != null &&
                 (minit.length == 0 ||
                 minit.length > 1 ||
                 !minit.matches(regex_minit))) {
        error = "Middle initial must be 1 character long and uppercase!";
      } else if (lname.length == 0 ||
                 lname.length > 32 ||
                 !lname.matches(regex_name)) {
        error = "Last name must be 1 - 32 characters long!";
      } else if (sex !== "M" || sex !== "F") {
        error = "Selected sex must be &quot;M&quot; or &quot;F&quot;!"
      } else if (address.length < 3 || address.length > 32) {
        error = "Address must be of 3 - 32 characters long!";
      } else if (!ssn.matches(regex_ssn)) {
        error = "SSN Must be in the form XXXXXXXXX!";
      } else if (super_ssn !== null && !super_ssn.matches(regex_ssn)) {
        error = "Supervisor SSN must be in the form XXXXXXXXX!";
      } else if (dno !== null && !dno.matches(regex_dno)) {
        error = "Department number must be a number greater than 0!";
      }

      // only post if there were no validation errors
      if (error !== null) {
        // set the error on the form
        $("#lblError").text(error);
      } else {
        // grab the form and post to it
        $("#formInsert").submit();
      }
    }
  </script>
{% endblock %}
