extends layout

block metadata
  srcipt(src='/javascripts/validation.js')

block content
  h1= title
  p Welcome to #{title}

  script.
    var database = require('../database');
    var db = database.DB();
    
    function submitInfo() {
      // get information from the page
      let fname = $('#textFName').val();
      let minit = $('#textMinit').val();
      let lname = $('#textLName').val();
      let sex = $('#selSex').val();
      let bdate = $('#textBDate').val();
      let address = $('#textAddress').val();
      let salary = $('#textSalary').val();
      let ssn = $('#textSSN').val();
      let super_ssn = $('#textSuperSSN').val();
      let dno = $('#textDNO').val();
      
      // create a message for the validate info method
      let info = {
        'fname':fname, 'minit':minit, 'lname':lname,
        'sex':sex, 'bdate':bdate, 'address':address,
        'salary':salary, 'ssn':ssn, 'super_ssn':super_ssn,
        'dno':dno
      };
      
      // get the error label
      let error = $('#error_label');
      
      // if the info is valid, submit it to the server
      if (validateInfo(info)) {
        if (db.insertEmployee(info)) {
          error.css('color', 'green');
          error.text('Employee successfully added to database!');
        } else {
          error.css('color', 'red');
          error.text('There was an error contacting the database!');
        }
      } 
      else {
        error.css('color', 'red');
        error.text('Invalid information supplied!');
      }
    }
  
  label(for='textFName') First Name:
  input(id='textFName' type='text')
  label(for='textMinit') Middle Initial:
  input(id='textMinit' type='text')
  label(for='textLName') Last Name:
  input(id='textLName' type='text')
  label(for='selSex') Sex:
  select(id='selSex')
    option(value='M') Male
    option(value='F') Female
  label(for='textBDate') Birthday:
  input(id='textBDate' type='date')
  label(for='textAddress') Address:
  input(id='textAddress' type='text')
  label(for='textSalary') Salary:
  input(id='textSalary' type='text')
  label(for='textSSN') SSN:
  input(id='textSSN' type='password')
  label(id='textSuperSSN') Supervisor SSN:
  input(id='textSuperSSN' type='password')
  label(for='textDNO') Department Number:
  input(id='textDNO' type='text')
  button(onclick='submitInfo()')
  h6(id='error_label')
